form{
    display: flex;
    flex-direction: column;
    gap: 0px;
    max-width: 400px;
    border: 1px solid black;
    }
    .titulo{
font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
    }
    hr{
    border: 1px solid black;
    margin: 1px;
    }